<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhBdzRAKnKMNDEfX_rPlju7ggNbl2LQSE</string>
	<key>GCM_SENDER_ID</key>
	<string>626709432503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.runGpuAnywhere</string>
	<key>PROJECT_ID</key>
	<string>run-anywhere-b962d</string>
	<key>STORAGE_BUCKET</key>
	<string>run-anywhere-b962d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626709432503:ios:d07fddfaa3ace5c700a532</string>
</dict>
</plist>